<script language="JavaScript" src="javascripts/htmlDatePicker.js" type="text/javascript"></script>
<h2>Configurar grabación</h2>

<script>
function validateForm(){
	var dat = document.getElementById("SelectedDate").value;
	
	var now = new Date();
	var nowString = (now.getMonth()+1) + "/" + (now.getDate()) + "/" + (now.getFullYear());
	
	if (dat==""){
		alert("Fecha no valida");
		return false;
	}
	
	if( (nowString == dat) && 
		((now.getHours()>=document.getElementById("startHour").value)&&(now.getMinutes()>=document.getElementById("startMinutes").value))){ 
			alert("Elija una hora de inicio posterior a la actual");
			return false;	
	}
	
	if( (document.getElementById("startHour").value >= document.getElementById("endHour").value) && 
		(document.getElementById("startMinutes").value >= document.getElementById("endMinutes").value) ){
			alert("Elija una hora de fin posterior a la hora de inicio.");
			return false;	
	}
}
</script>

<!-- validate form -->
<form name="recordForm" method='post' action='/record' onsubmit="return validateForm()">

	<% var date = new Date(); %>	
	
	Día:
	<input type="text" name="record[date]" id="SelectedDate" readonly onClick="GetDate(this);" /><br>

	Hora de inicio:
	<select name="record[startHour]" id="startHour">
		<% for (var i=0;i<24;i++) { %>
			<% if (date.getHours()==i) { %>			
				<option value='<%= i %>' selected><%= i %></option>
			<% }else{ %>
				<option value="<%= i %>"><%= i %></option>
			<% } %>
		<% } %>
	<select>
	:
	<select name="record[startMinutes]" id="startMinutes">
		<% for (var i=0;i<60;i++) { %>
			<% if (date.getMinutes()==i) { %>			
				<option value='<%= i %>' selected><%= i %></option>
			<% }else{ %>
				<option value="<%= i %>"><%= i %></option>
			<% } %>
		<% } %>
	<select>
	<br>
	Hora de fin:
	<select name="record[endHour]" id="endHour">
		<% for (var i=0;i<24;i++) { %>
			<% if (date.getHours()==i) { %>			
				<option value='<%= i %>' selected><%= i %></option>
			<% }else{ %>
				<option value="<%= i %>"><%= i %></option>
			<% } %>
		<% } %>
	<select>
	:
	<select name="record[endMinutes]" id="endMinutes">
		<% for (var i=0;i<60;i++) { %>
			<% if (date.getMinutes()==i) { %>			
				<option value='<%= i %>' selected><%= i %></option>
			<% }else{ %>
				<option value="<%= i %>"><%= i %></option>
			<% } %>
		<% } %>
	<select>

	<hr>
	<br>
	
	<button type='submit' class='btn btn-success'>Next</button>	

</form>
<!--
<a href="/stop"> stop </a>
-->
